<div class="col-lg-12">
    <button class="btn btn-primary" id="studentsData">Get Student Json</button>
    <button class="btn btn-primary" id="stringData">Get String Json</button>
</div>

<div class="col-lg-12">
    <div id="stddata">

    </div>

</div>


@section Scripts {
    <script>
        var jsondata;
        $(document).ready(function () {
            $("#studentsData").on('click', function () {
                $.ajax({
                    url: '/Greenivy/studentsJson',
                    method: 'GET'
                }).done(function (data) {
                    $("#stddata").html(JSON.stringify(data));
                    jsondata = data;
                });
            });

            $("#stringData").on('click', function () {
                $.ajax({
                    url: '/Greenivy/str',
                    method: 'GET'
                }).done(function (data) {
                    $("#stddata").html(JSON.stringify(data));
                });
            });
        });
    </script>
}